@font-face {
	font-family: "flaticon";
	src: url("../fonts/flaticonfce8.woff2?11f8cbc20fef7964827e7594777a13b1") format("woff2"),
url("../fonts/flaticonfce8.woff?11f8cbc20fef7964827e7594777a13b1") format("woff"),
url("../fonts/flaticonfce8.eot?11f8cbc20fef7964827e7594777a13b1#iefix") format("embedded-opentype"),
url("../fonts/flaticonfce8.ttf?11f8cbc20fef7964827e7594777a13b1") format("truetype"),
url("../fonts/flaticonfce8.svg?11f8cbc20fef7964827e7594777a13b1#flaticon") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" pbmit-xleb-icon-"]:before {
	font-family: flaticon !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.pbmit-xleb-icon-group:before {
	content: "\f101";
}
.pbmit-xleb-icon-compass:before {
	content: "\f102";
}
.pbmit-xleb-icon-atom:before {
	content: "\f103";
}
.pbmit-xleb-icon-structure:before {
	content: "\f104";
}
.pbmit-xleb-icon-hour-glass:before {
	content: "\f105";
}
.pbmit-xleb-icon-scientist:before {
	content: "\f106";
}
.pbmit-xleb-icon-microscope:before {
	content: "\f107";
}
.pbmit-xleb-icon-laboratory:before {
	content: "\f108";
}
.pbmit-xleb-icon-atom-1:before {
	content: "\f109";
}
.pbmit-xleb-icon-calculator:before {
	content: "\f10a";
}
.pbmit-xleb-icon-test-tube:before {
	content: "\f10b";
}
.pbmit-xleb-icon-testing:before {
	content: "\f10c";
}
.pbmit-xleb-icon-brain:before {
	content: "\f10d";
}
.pbmit-xleb-icon-light:before {
	content: "\f10e";
}
.pbmit-xleb-icon-atom-2:before {
	content: "\f10f";
}
.pbmit-xleb-icon-ufo:before {
	content: "\f110";
}
.pbmit-xleb-icon-filter:before {
	content: "\f111";
}
.pbmit-xleb-icon-graph:before {
	content: "\f112";
}
.pbmit-xleb-icon-apple:before {
	content: "\f113";
}
.pbmit-xleb-icon-book:before {
	content: "\f114";
}
.pbmit-xleb-icon-brain-1:before {
	content: "\f115";
}
.pbmit-xleb-icon-candle:before {
	content: "\f116";
}
.pbmit-xleb-icon-capsule:before {
	content: "\f117";
}
.pbmit-xleb-icon-circuit:before {
	content: "\f118";
}
.pbmit-xleb-icon-clock:before {
	content: "\f119";
}
.pbmit-xleb-icon-container:before {
	content: "\f11a";
}
.pbmit-xleb-icon-dropper:before {
	content: "\f11b";
}
.pbmit-xleb-icon-electricity:before {
	content: "\f11c";
}
.pbmit-xleb-icon-experiment:before {
	content: "\f11d";
}
.pbmit-xleb-icon-flask:before {
	content: "\f11e";
}
.pbmit-xleb-icon-globe:before {
	content: "\f11f";
}
.pbmit-xleb-icon-gloves:before {
	content: "\f120";
}
.pbmit-xleb-icon-goggles:before {
	content: "\f121";
}
.pbmit-xleb-icon-injection:before {
	content: "\f122";
}
.pbmit-xleb-icon-ink:before {
	content: "\f123";
}
.pbmit-xleb-icon-jigsaw:before {
	content: "\f124";
}
.pbmit-xleb-icon-magnet:before {
	content: "\f125";
}
.pbmit-xleb-icon-microscope-1:before {
	content: "\f126";
}
.pbmit-xleb-icon-orbit:before {
	content: "\f127";
}
.pbmit-xleb-icon-projector:before {
	content: "\f128";
}
.pbmit-xleb-icon-radioactive:before {
	content: "\f129";
}
.pbmit-xleb-icon-rocket:before {
	content: "\f12a";
}
.pbmit-xleb-icon-satellite:before {
	content: "\f12b";
}
.pbmit-xleb-icon-scale:before {
	content: "\f12c";
}
.pbmit-xleb-icon-sperm:before {
	content: "\f12d";
}
.pbmit-xleb-icon-star:before {
	content: "\f12e";
}
.pbmit-xleb-icon-structure-1:before {
	content: "\f12f";
}
.pbmit-xleb-icon-attraction:before {
	content: "\f130";
}
.pbmit-xleb-icon-thermometer:before {
	content: "\f131";
}
.pbmit-xleb-icon-bacteria:before {
	content: "\f132";
}
.pbmit-xleb-icon-straight-quotes:before {
	content: "\f133";
}
.pbmit-xleb-icon-checked:before {
	content: "\f134";
}
.pbmit-xleb-icon-check-button:before {
	content: "\f135";
}
.pbmit-xleb-icon-play-button:before {
	content: "\f136";
}
.pbmit-xleb-icon-right-arrow:before {
	content: "\f137";
}
.pbmit-xleb-icon-check:before {
	content: "\f138";
}
.pbmit-xleb-icon-arrow-down:before {
	content: "\f139";
}
.pbmit-xleb-icon-arrow-up:before {
	content: "\f13a";
}
.pbmit-xleb-icon-phone-ringing:before {
	content: "\f13b";
}
.pbmit-xleb-icon-email:before {
	content: "\f13c";
}
.pbmit-xleb-icon-briefcase:before {
	content: "\f13d";
}
.pbmit-xleb-icon-placeholder:before {
	content: "\f13e";
}

